#root {
  background-color: rgb(2, 9, 43);
}
.container {
  height: 100%;
  width: 100%;
  background-color: rgb(2, 9, 43);
  margin-top: 10px;
}

#editor {
  height: 300px;
}

div {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.bg-info {
  color: white;
  border-radius: 1%;
}

h5 {
  font-size: 1.25rem;
  padding: 10px;
  margin-bottom: 0;
}

.text-fields {
  background-color: rgb(207, 237, 248);
  border-color: rgb(207, 237, 248);
}
